/* loader */
.loader {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  right: 30%;
  top: 50%;
  animation: loader 1.4s;
  @media screen and (min-width: 768px) {
    right: 45%;
  }

  i {
    color: $color-secondary;
  }
  @keyframes loader {
    100% {
      visibility: visible;
    }
  }
}

/* header */

header {
  background-color: $background-color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  div:nth-child(1) {
      width: 100%;
      background-color: white;

    img {
        display: block;
        margin: auto;
        width: 50%;
      padding: 20px 0 15px 0;
    }
  }

  > span {
    background-color: darken($background-color-secondary, 5%);
    width: 100%;
    text-align: center;
    padding: 15px;
    box-shadow: inset 0px 3px 5px -4px grey;
  }

  div {
    display: flex;
    flex-direction: column;
    & > h1 {
      text-align: center;
      font-family: Roboto;
      font-weight: bolder;
    }
    background-color: $background-color-secondary h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .button {
      @include gradient-buton;
      align-self: center;
      margin-top: 10px;
      padding: 5px;
      border-radius: 100px;
      padding: 10px;
      color: white;
      font-weight: bolder;
    }
  }
}

/* Tuto */
main {
  div {
      h2{
          padding-left: 15px;
      }
    .list-tuto {
      align-content: center;
      padding: 20px 20px 20px 5px;
      @media screen and (min-width: 768px) {
        display: flex;
      }

      li {
        @include carte-shape;
        display: inline-block;

        padding: 15px;
        width: 100%;

        background-color: $background-color-secondary;
        overflow: visible;
        font-weight: bolder;
        & > i {
          margin-right: 10%;
          margin-left: 5%;
        }
        .fa-store {
          color: $color-primary;
        }
        span {
          background-color: $color-primary;
          width: 20px;
          height: 20px;
          border-radius: 15px;
          color: white;
          position: relative;
          left: -20px;
          display: inline-block;
          text-align: center;

          @media screen and (min-width: 768px) {
            visibility: hidden;
          }
        }
        &.tuto-restau {
          background-color: lighten($color-primary, 37.8%);
        }

        @media screen and (min-width: 768px) {
          justify-content: center;
          left: 0;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/* choix des restaurants */

#restaurants {
  @include section-shape;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
   h2{
    text-align: left;
    width: 100%;
    padding-left: 20px;
   }

  a {
    position: relative;
    @include carte-shape;
    @include carte-flex;
    height: 250px;
    @media screen and (min-width: 768px) {
      width: 45%;
    }

    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }

    p {
      padding: 5px;
      text-align: center;
      width: 85px;
      background-color: $color-tiers;
      color: darken($color-tiers, 40%);
      position: absolute;
      top: 25px;
      right: 25px;
      border-radius: 3px;
      box-shadow: 2px 3px 4px -4px grey;
      @media screen and (min-width: 768px) {
        width: 18%;
      }
    }
    .heart {
      display: inline-block;
      width: 25%;
      position: relative;
      right: 25%;
      top: 65%;

      .filled-heart {
        visibility: hidden;
        transition: visibility;
        @include gradient-buton;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &:hover > .filled-heart {
        visibility: visible;
      }
      &:hover > .border-heart {
        visibility: hidden;
      }
    }
  }
}

/* Footer */

footer {
  background-color: $background-color-third;
  padding: 15px;

  img {
    padding-left: 40px;
    filter: brightness(0) invert(1);
  }

  li {
    display: block;
    margin: 4px;
  }

  a {
    color: white;
  }
}
