.menu {
    @include section-shape;

    div {

        @include carte-shape;

        label {

            i {
                
                display: none;
                filter:$color-tiers;
                position: relative;
                left: 95%;
                bottom: 35px;
            }

            input:checked+i {
                display: block;

            }

            input {
                display: none;
            }


        }
    }
}

/* label{
    
        i{
            display:none;
        }
        input:checked + i {
            display: block;
        }
        input{
            display: none;
        }
} */