@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Shrikhand';
  font-weight: 100;
}

h3,
h4 {
  margin: 5px 5px 5px 12px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  h2 {
    width: 100%;
  }
}

/* color */
@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* loader */
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 1000px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  -webkit-animation: load 0.3s;
          animation: load 0.3s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loading__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loading__item--1 {
  background-color: #9356DC;
}

.loading__item--2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loading__item--3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes load {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes load {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  padding: 20px 0 15px 0;
}

header span {
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6 h1;
  background-color-text-align: center;
}

header div p {
  text-align: center;
}

header div .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 100px;
  padding: 10px;
  color: white;
}

/* Tuto */
main div .list-tuto {
  -ms-flex-line-pack: center;
      align-content: center;
}

main div .list-tuto li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px -2px grey;
          box-shadow: 3px 3px 5px -2px grey;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 10px;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  position: relative;
  left: 10%;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  main div .list-tuto li {
    width: 45%;
  }
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  main div .list-tuto li {
    left: 25%;
  }
}

/* choix des restaurants */
#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  #restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px -2px grey;
          box-shadow: 3px 3px 5px -2px grey;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  #restaurants a {
    width: 45%;
  }
}

#restaurants a img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants a p {
  text-align: center;
  width: 15%;
  background-color: #99E2D0;
  position: relative;
  top: -200px;
  right: -80%;
}

#restaurants a .heart {
  display: inline-block;
  width: 25%;
}

#restaurants a .heart .filled-heart {
  visibility: hidden;
  -webkit-transition: visibility;
  transition: visibility;
  color: #FF79DA;
}

#restaurants a .heart:hover > i {
  visibility: visible;
}

/* Footer */
footer {
  background-color: #323232;
  padding: 15px;
}

footer img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer li {
  display: block;
  margin: 4px;
}

footer a {
  color: white;
}

.header-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu a {
  position: absolute;
  top: 20px;
  left: 15px;
}

.header-menu a i {
  font-size: 30px;
}

.header-menu img:nth-child(3) {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  position: relative;
  margin-top: -140px;
  border-radius: 40px 40px 0 0;
  padding: 20px 10px;
  background-color: #f6f6f6;
}

@media (max-width: 1920px) and (min-width: 768px) {
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-menu h1 {
    min-width: 100%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1920px) and (min-width: 768px) {
  .menu {
    width: 33%;
  }
}

.menu > h2 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.menu > h2::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 3px 3px 5px -2px grey;
          box-shadow: 3px 3px 5px -2px grey;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  height: 70px;
  display: block;
  -webkit-animation: itemAppear 0.6s;
          animation: itemAppear 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  .menu .card {
    width: 45%;
  }
}

@media (max-width: 1920px) and (min-width: 768px) {
  .menu .card {
    width: 95%;
  }
}

.menu .card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.menu .card label div {
  width: 100%;
  overflow: hidden;
}

.menu .card label div h3,
.menu .card label div p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 5px 5px 5px 12px;
}

.menu .card label > p {
  position: relative;
  top: 32px;
  right: 5px;
  font-weight: bolder;
}

.menu .card label span {
  height: 100%;
  width: 0%;
  font-size: 10px;
  overflow: hidden;
  background-color: #99E2D0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.menu .card label span i.fas.fa-check.fa-stack-1x {
  color: #99E2D0;
}

.menu .card label span .fa-stack-1x,
.menu .card label span .fa-stack-2x {
  top: 25px;
}

.menu .card label input:checked + span,
.menu .card label:hover > span {
  width: 60px;
}

.menu .card label input {
  display: none;
}

figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 140px;
  background-color: #f6f6f6;
}

figure .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  margin-top: 10px;
  border-radius: 100px;
  padding-top: 20px;
  color: white;
  width: 60%;
  height: 50%;
  font-size: 1.5em;
}

/* test */
.heart {
  height: 40px;
}

.heart .filled-heart {
  visibility: hidden;
  -webkit-transition: visibility;
  transition: visibility;
  color: #FF79DA;
}

.heart:hover > i {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */