@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 100;
  padding-left: 10px;
  font-size: 1.7rem;
  @media screen and (min-width: 344px){
    font-size: 1.6rem;
  }
}

h3,
h4 {
  margin: 0px 5px 5px 12px;
  font-weight: 300;
  
}
h3{
  font-weight: 700;
  margin-top: 12px;
  
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  h2 {
    width: 100%;
    padding-left: 15px;
  }
}

/* color */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tiers: #99e2d0;
$background-color-secondary: #f6f6f6;
$background-color-third: #323232;

@mixin gradient-buton {
  background-image: linear-gradient($color-secondary, $color-primary);  
}

@mixin buton-hover {
  background-image: linear-gradient(lighten($color-secondary,5%), lighten($color-primary,5%));
  box-shadow: 3px 3px 5px -2px grey;
}


@mixin carte-shape {
  width: 90%;
  box-shadow: 3px 3px 5px -2px grey;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

@mixin carte-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin section-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-secondary;
  justify-content: space-around;
  
}

@keyframes cards_appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    visibility: visible;
  }
}

@import "accueil";
@import "menu";