@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Shrikhand';
  font-weight: 100;
}

h3, h4 {
  margin: 5px 5px 5px 12px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  h2 {
    width: 100%;
  }
}

/* color */
/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  padding: 20px 0 15px 0;
}

header span {
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6 h1;
  background-color-text-align: center;
}

header div p {
  text-align: center;
}

header div .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 100px;
  padding: 10px;
  color: white;
}

/* Tuto */
main div ol {
  -ms-flex-line-pack: center;
      align-content: center;
}

main div ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 10px;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  position: relative;
  left: 10%;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  main div ol li {
    width: 45%;
  }
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  main div ol li {
    left: 25%;
  }
}

/* choix des restaurants */
#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  #restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  #restaurants a {
    width: 45%;
  }
}

#restaurants a img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#restaurants a p {
  text-align: center;
  width: 15%;
  background-color: #99E2D0;
  position: relative;
  top: -200px;
  right: -80%;
}

#restaurants a i {
  position: relative;
  top: -50px;
  right: -80%;
}

/* Footer */
footer {
  background-color: #323232;
  padding: 15px;
}

footer img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer a {
  color: white;
}

.header-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-menu a {
  margin-left: 15px;
  width: 20%;
}

.header-menu a i {
  font-size: 30px;
}

.header-menu img:nth-child(2) {
  position: relative;
  left: 25%;
}

.header-menu img:nth-child(3) {
  width: 100%;
}

.main-menu {
  position: relative;
  bottom: 140px;
  border-radius: 40px 40px 0 0;
  padding: 20px 10px;
  background-color: #f6f6f6;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  .menu div {
    width: 45%;
  }
}

.menu div label i {
  display: none;
  -webkit-filter: #99E2D0;
          filter: #99E2D0;
  position: relative;
  left: 95%;
  bottom: 35px;
}

.menu div label input:checked + i {
  display: block;
}

.menu div label input {
  display: none;
}

figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 140px;
  position: relative;
  bottom: 140px;
  background-color: #f6f6f6;
}

figure .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  margin-top: 10px;
  border-radius: 100px;
  padding-top: 20px;
  color: white;
  width: 60%;
  height: 50%;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */