@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h3, p {
  margin: 0;
}

img {
  max-width: 100%;
}

/* color */
/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  padding: 20px 0 15px 0;
}

header span {
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6 h1;
  background-color-text-align: center;
}

header div p {
  text-align: center;
}

header div .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  border-radius: 100px;
  padding: 10px;
  color: white;
}

/* Tuto */
main div ol {
  -ms-flex-line-pack: center;
      align-content: center;
}

main div ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 10px;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
}

/* choix des restaurants */
#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

#restaurants a img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#restaurants a p {
  position: relative;
  top: -200px;
  right: -80%;
}

#restaurants a i {
  position: relative;
  top: -50px;
  right: -80%;
}

/* Footer */
footer {
  background-color: #323232;
  margin-bottom: 0%;
}

footer img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer a {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-shadow: 5px 0 3px gray;
          box-shadow: 5px 0 3px gray;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.menu div label i {
  display: none;
  -webkit-filter: #99E2D0;
          filter: #99E2D0;
  position: relative;
  left: 95%;
  bottom: 35px;
}

.menu div label input:checked + i {
  display: block;
}

.menu div label input {
  display: none;
}

/* label{
    
        i{
            display:none;
        }
        input:checked + i {
            display: block;
        }
        input{
            display: none;
        }
} */
/*# sourceMappingURL=style.css.map */